@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
body {
    min-height: 100vh;
    max-width: 100%;
    background-image: url(./images/bg-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    color: hsl(243, 100%, 93%);
    font-size: 14px;
}

.fylo-storage {
    padding: 0 20px;
    display: grid;
    align-items: center;
    gap: 20px;
}

.logo-img {
    width: 60%;
}

.title-buttons-container{
    background-color: hsl(228, 56%, 26%);
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-radius: 10px;
    border-top-right-radius: 110px;

}

.buttons-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.utility-button {
    background: hsl(229, 57%, 11%);
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    height: 50px;
}

.container{
    background: hsl(228, 56%, 26%);
    border-radius: 10px;
    color: hsla(0, 100%, 100%, .8);
    padding: 2rem 2rem 5rem 2rem;
    position: relative;
    text-align: center;
}

.storage-left {
    background: white;
    border-radius: 10px;
    width: 12rem;
    padding: 1rem .5rem;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translateX(-50%);
    color: black;
}


.storage-number {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}

.storage-number-unit {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

.progress-bar {
    width: 100%;
    background: hsl(229, 57%, 11%);
    border-radius: 20px;
    height: 20px;
    padding: 4px;

}

.progress-bar-filler {
    height: 100%;
    border-radius: 20px;
    background:  linear-gradient(hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    padding: 0;
    margin: 0;
    position: relative;
    width: 85%;
}

.progress-bar-filler::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-25%, -50%);
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
}

.storage-indicators{
    display: flex;
    justify-content: space-between;
}

@media (min-width: 1000px) {

    body {
      background: url(images/bg-desktop.png), hsl(229, 57%, 11%);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: bottom;
      display: flex;
      justify-content: center;
    }

    .fylo-storage {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 70%;
    }
  
    .title-buttons-container {
      width: 40%;
    }
  
    .container {
      width: 60%;
      text-align: left;
      padding: 2rem 2rem 3rem;
    }
  
    .storage-left {
      top: -2rem;
      left: 50%;
      transform: none;
    }
  
    .storage-left::before {
      content: '';
      position: absolute;
      right: 0;
      bottom: -1.5rem;
      height: 2rem;
      width: 2rem;
      background-color: white;
      clip-path: polygon(0 0, 100% 0, 100% 100%);
    }
}




