@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

html, body {
    margin: 0;
    min-height: 100vh;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', 'sans serif';
    min-width: 375px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr-card {
    max-width: 275px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

.qr-card img {
    width: 100%;
    border-radius: 15px;
}

.qr-content {
    margin-top: 10px;
    width: 100%;
    text-align: center;
    word-wrap: break-word;
}

.qr-content h1{
    font-weight: 700;
    font-size: 20px;
}

.qr-content p{
    color: hsl(220, 15%, 55%);
}